@layer tokens {
    :where(:root, :host) {
  --colors-current: currentColor;
  --colors-transparent: rgb(0 0 0 / 0);
  --colors-tonal-primary-0: #000000;
  --colors-tonal-primary-10: #002111;
  --colors-tonal-primary-20: #003921;
  --colors-tonal-primary-30: #005232;
  --colors-tonal-primary-40: #006D44;
  --colors-tonal-primary-50: #158858;
  --colors-tonal-primary-60: #3BA370;
  --colors-tonal-primary-70: #58BE89;
  --colors-tonal-primary-80: #75DAA3;
  --colors-tonal-primary-90: #91F7BD;
  --colors-tonal-primary-95: #C0FFD7;
  --colors-tonal-primary-99: #F5FFF5;
  --colors-tonal-primary-100: #FFFFFF;
  --colors-tonal-secondary-0: #000000;
  --colors-tonal-secondary-10: #0B1F14;
  --colors-tonal-secondary-20: #213528;
  --colors-tonal-secondary-30: #374B3E;
  --colors-tonal-secondary-40: #4E6355;
  --colors-tonal-secondary-50: #667C6D;
  --colors-tonal-secondary-60: #809686;
  --colors-tonal-secondary-70: #9AB1A0;
  --colors-tonal-secondary-80: #B5CCBB;
  --colors-tonal-secondary-90: #D0E8D6;
  --colors-tonal-secondary-95: #DFF7E4;
  --colors-tonal-secondary-99: #F5FFF5;
  --colors-tonal-secondary-100: #FFFFFF;
  --colors-tonal-tertiary-0: #000000;
  --colors-tonal-tertiary-10: #001E2D;
  --colors-tonal-tertiary-20: #00344B;
  --colors-tonal-tertiary-30: #004C6B;
  --colors-tonal-tertiary-40: #00658D;
  --colors-tonal-tertiary-50: #007FB1;
  --colors-tonal-tertiary-60: #2D9ACF;
  --colors-tonal-tertiary-70: #2D9ACF;
  --colors-tonal-tertiary-80: #82CFFF;
  --colors-tonal-tertiary-90: #C6E7FF;
  --colors-tonal-tertiary-95: #E4F3FF;
  --colors-tonal-tertiary-99: #FBFCFF;
  --colors-tonal-tertiary-100: #FFFFFF;
  --colors-tonal-error-0: #000000;
  --colors-tonal-error-10: #410002;
  --colors-tonal-error-20: #690005;
  --colors-tonal-error-30: #93000A;
  --colors-tonal-error-40: #BA1A1A;
  --colors-tonal-error-50: #DE3730;
  --colors-tonal-error-60: #FF5449;
  --colors-tonal-error-70: #FF897D;
  --colors-tonal-error-80: #FFB4AB;
  --colors-tonal-error-90: #FFDAD6;
  --colors-tonal-error-95: #FFEDEA;
  --colors-tonal-error-99: #FFFBFF;
  --colors-tonal-error-100: #FFFFFF;
  --colors-tonal-neutral-0: #000000;
  --colors-tonal-neutral-4: #0E0F0A;
  --colors-tonal-neutral-6: #13140F;
  --colors-tonal-neutral-10: #1B1C17;
  --colors-tonal-neutral-12: #1F201B;
  --colors-tonal-neutral-17: #2A2A25;
  --colors-tonal-neutral-20: #474741;
  --colors-tonal-neutral-22: #353530;
  --colors-tonal-neutral-24: #393A34;
  --colors-tonal-neutral-30: #474741;
  --colors-tonal-neutral-40: #5F5F58;
  --colors-tonal-neutral-50: #787771;
  --colors-tonal-neutral-60: #92918A;
  --colors-tonal-neutral-70: #ACABA4;
  --colors-tonal-neutral-80: #C8C7BF;
  --colors-tonal-neutral-87: #DCDAD2;
  --colors-tonal-neutral-90: #E4E3DB;
  --colors-tonal-neutral-92: #EAE8E0;
  --colors-tonal-neutral-94: #F0EEE6;
  --colors-tonal-neutral-95: #F3F1E9;
  --colors-tonal-neutral-96: #F6F4EB;
  --colors-tonal-neutral-98: #FBF9F1;
  --colors-tonal-neutral-99: #F5FFF5;
  --colors-tonal-neutral-100: #FFFFFF;
  --colors-tonal-neutral-variant-0: #000000;
  --colors-tonal-neutral-variant-10: #151D18;
  --colors-tonal-neutral-variant-20: #151D18;
  --colors-tonal-neutral-variant-30: #404942;
  --colors-tonal-neutral-variant-40: #58605A;
  --colors-tonal-neutral-variant-50: #717972;
  --colors-tonal-neutral-variant-60: #8A938B;
  --colors-tonal-neutral-variant-70: #A5ADA5;
  --colors-tonal-neutral-variant-80: #C0C9C0;
  --colors-tonal-neutral-variant-90: #DCE5DC;
  --colors-tonal-neutral-variant-95: #EAF3EA;
  --colors-tonal-neutral-variant-99: #F5FFF5;
  --colors-tonal-neutral-variant-100: #FFFFFF;
  --breakpoints-sm: 640px;
  --breakpoints-md: 768px;
  --breakpoints-lg: 1024px;
  --breakpoints-xl: 1280px;
  --breakpoints-2xl: 1536px;
  --sizes-breakpoint-sm: 640px;
  --sizes-breakpoint-md: 768px;
  --sizes-breakpoint-lg: 1024px;
  --sizes-breakpoint-xl: 1280px;
  --sizes-breakpoint-2xl: 1536px;
  --colors-black: #000000;
  --colors-white: #FFFFFF;
  --colors-primary: #006D44;
  --colors-primary-container: #91F7BD;
  --colors-primary-fixed: #91F7BD;
  --colors-primary-fixed-dim: #75DAA3;
  --colors-secondary: #4E6355;
  --colors-secondary-container: #D0E8D6;
  --colors-secondary-fixed: #D0E8D6;
  --colors-secondary-fixed-dim: #B5CCBB;
  --colors-tertiary: #00658D;
  --colors-tertiary-container: #C6E7FF;
  --colors-tertiary-fixed: #C6E7FF;
  --colors-tertiary-fixed-dim: #82CFFF;
  --colors-error: #BA1A1A;
  --colors-error-container: #FFDAD6;
  --colors-on-primary: #FFFFFF;
  --colors-on-primary-container: #002111;
  --colors-on-primary-fixed: #002111;
  --colors-on-primary-fixed-variant: #005232;
  --colors-on-secondary: #FFFFFF;
  --colors-on-secondary-container: #0B1F14;
  --colors-on-secondary-fixed: #0B1F14;
  --colors-on-secondary-fixed-variant: #374B3E;
  --colors-on-tertiary: #FFFFFF;
  --colors-on-tertiary-container: #001E2D;
  --colors-on-tertiary-fixed: #001E2D;
  --colors-on-tertiary-fixed-variant: #004C6B;
  --colors-on-error: #FFFFFF;
  --colors-on-error-container: #410002;
  --colors-on-surface: #1B1C17;
  --colors-on-surface-variant: #404942;
  --colors-surface-dim: #DCDAD2;
  --colors-surface: #FBF9F1;
  --colors-surface-bright: #FBF9F1;
  --colors-surface-container-lowest: #FFFFFF;
  --colors-surface-container-low: #F6F4EB;
  --colors-surface-container: #F0EEE6;
  --colors-surface-container-high: #EAE8E0;
  --colors-surface-container-highest: #E4E3DB;
  --colors-inverse-surface: #474741;
  --colors-inverse-on-surface: #F3F1E9;
  --colors-inverse-primary: #75DAA3;
  --colors-outline: #717972;
  --colors-outline-variant: #C0C9C0;
  --colors-scrim: #000000;
  --colors-shadow: #000000;
  --shadows-none: none;
  --shadows-e1: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --shadows-e2: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --shadows-e3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
  --shadows-e4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);
  --shadows-e5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15),  0px 4px 4px rgba(0, 0, 0, 0.3);
  --colors-color-palette-0: var(--colors-color-palette-0);
  --colors-color-palette-10: var(--colors-color-palette-10);
  --colors-color-palette-20: var(--colors-color-palette-20);
  --colors-color-palette-30: var(--colors-color-palette-30);
  --colors-color-palette-40: var(--colors-color-palette-40);
  --colors-color-palette-50: var(--colors-color-palette-50);
  --colors-color-palette-60: var(--colors-color-palette-60);
  --colors-color-palette-70: var(--colors-color-palette-70);
  --colors-color-palette-80: var(--colors-color-palette-80);
  --colors-color-palette-90: var(--colors-color-palette-90);
  --colors-color-palette-95: var(--colors-color-palette-95);
  --colors-color-palette-99: var(--colors-color-palette-99);
  --colors-color-palette-100: var(--colors-color-palette-100);
  --colors-color-palette-4: var(--colors-color-palette-4);
  --colors-color-palette-6: var(--colors-color-palette-6);
  --colors-color-palette-12: var(--colors-color-palette-12);
  --colors-color-palette-17: var(--colors-color-palette-17);
  --colors-color-palette-22: var(--colors-color-palette-22);
  --colors-color-palette-24: var(--colors-color-palette-24);
  --colors-color-palette-87: var(--colors-color-palette-87);
  --colors-color-palette-92: var(--colors-color-palette-92);
  --colors-color-palette-94: var(--colors-color-palette-94);
  --colors-color-palette-96: var(--colors-color-palette-96);
  --colors-color-palette-98: var(--colors-color-palette-98);
  --colors-color-palette-container: var(--colors-color-palette-container);
  --colors-color-palette-fixed: var(--colors-color-palette-fixed);
  --colors-color-palette-dim: var(--colors-color-palette-dim);
  --colors-color-palette-primary: var(--colors-color-palette-primary);
  --colors-color-palette-variant: var(--colors-color-palette-variant);
  --colors-color-palette-secondary: var(--colors-color-palette-secondary);
  --colors-color-palette-tertiary: var(--colors-color-palette-tertiary);
  --colors-color-palette-error: var(--colors-color-palette-error);
  --colors-color-palette-surface: var(--colors-color-palette-surface);
  --colors-color-palette-bright: var(--colors-color-palette-bright);
  --colors-color-palette-lowest: var(--colors-color-palette-lowest);
  --colors-color-palette-low: var(--colors-color-palette-low);
  --colors-color-palette-high: var(--colors-color-palette-high);
  --colors-color-palette-highest: var(--colors-color-palette-highest)
}

.dark {
  --colors-primary: #75DAA3;
  --colors-primary-container: #005232;
  --colors-secondary: #B5CCBB;
  --colors-secondary-container: #374B3E;
  --colors-tertiary: #82CFFF;
  --colors-tertiary-container: #004C6B;
  --colors-error: #FFB4AB;
  --colors-error-container: #93000A;
  --colors-on-primary: #003921;
  --colors-on-primary-container: #91F7BD;
  --colors-on-secondary: #213528;
  --colors-on-secondary-container: #D0E8D6;
  --colors-on-tertiary: #00344B;
  --colors-on-tertiary-container: #C6E7FF;
  --colors-on-error: #690005;
  --colors-on-error-container: #FFDAD6;
  --colors-on-surface: #E4E3DB;
  --colors-on-surface-variant: #C0C9C0;
  --colors-surface-dim: #13140F;
  --colors-surface: #13140F;
  --colors-surface-bright: #393A34;
  --colors-surface-container-lowest: #0E0F0A;
  --colors-surface-container-low: #1B1C17;
  --colors-surface-container: var(--colors-tonal-neutral-120);
  --colors-surface-container-high: #2A2A25;
  --colors-surface-container-highest: #353530;
  --colors-inverse-surface: #E4E3DB;
  --colors-inverse-on-surface: #474741;
  --colors-inverse-primary: #006D44;
  --colors-outline: #8A938B;
  --colors-outline-variant: #404942
}

{
  --shadows-e1: 0px 1px 2px rgba(0, 0, 0, 0.3);
  --shadows-e2: 0px 1px 2px rgba(0, 0, 0, 0.3);
  --shadows-e3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  --shadows-e4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15);
  --shadows-e5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15)
}

{
  --shadows-e1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --shadows-e2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --shadows-e3: 0px 1px 3px rgba(0, 0, 0, 0.3);
  --shadows-e4: 0px 2px 3px rgba(0, 0, 0, 0.3);
  --shadows-e5:  0px 4px 4px rgba(0, 0, 0, 0.3)
}

.dark {
  --shadows-e1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --shadows-e2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --shadows-e3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  --shadows-e4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15);
  --shadows-e5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15)
}

.dark {
  --shadows-e1: 0px 1px 2px rgba(0, 0, 0, 0.3);
  --shadows-e2: 0px 1px 2px rgba(0, 0, 0, 0.3);
  --shadows-e3: 0px 1px 3px rgba(0, 0, 0, 0.3);
  --shadows-e4: 0px 2px 3px rgba(0, 0, 0, 0.3);
  --shadows-e5: 0px 4px 4px rgba(0, 0, 0, 0.3)
}
  }
  